#view .profile {
    margin-right: 20px; 
}

#view .profile table, tbody{
    width: 100%;
}
#view .profile .dnnFormItem input, 
#view .profile .dnnFormItem textarea{
    width: 100%; 
    max-width: none;
    margin-bottom: 2px;
}
#view td.dnnFormItem{
    vertical-align: top;
}

#view .dnnFormItem input:disabled{
    border: none;
    opacity: 1.0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    padding-left: 10px;
}

#view .groupusers {
    margin-top: 10px;
    margin-left: 10px;
}

#view ul.usergroup
{
    margin-left: 0px;
}

table.usergroup  {
    border-collapse: collapse;
    border-spacing: 0;
}

#view .usergroup th.sortable {
    cursor: pointer;
}

#view .description {
    font-size: 10pt;
    margin-bottom: 10px;
}

.usergroup tr:hover{
    background-color: #fffacd;
}

#view .popup {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    margin-right: 7px;
    width: 400px;
    z-index: 1000;
    position: absolute;
    right: 0px;
    box-shadow: -5px 5px 5px #666;
    border-left: 10px solid #fffacd;
    border-right: 10px solid #fffacd;
    border-bottom: 10px solid #fffacd;

}
#view .popup textarea {
    margin-bottom: 10px;
    font-size: 10pt;
}


.userfields input{
    border: 1px solid #ffffff;
    padding: 2px;
    margin: 0;
    width: 100%;
}

.userfields input:hover {
    border: 1px solid #CCCCCC;
}

.usergroup td.label, .profile td.label {
    width: 110px;
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
    vertical-align: top;
}

.usergroup tr.user {
    cursor: n-resize;
}

.newuser {
    background-color: #fffacd;
    padding: 10px;
}

.newuser .label{
    background-color: transparent;
}
.usergroup a:hover {
    cursor: pointer;
}

#view .details textarea {
    width: 100%;
}

#view tr.selected, #view tr.selected td {
    background-color: #fffacd;
}
#view .actions {
    margin-top: 25px;
}

#view input.empty {
    background-color: #FFDDDD;
    border: 1px solid #CC9999;
}

#new_image_container{
    margin-top: 20px;
    vertical-align: top;
}

/* TINYMCE EDITOR */
.mce-content-body{
    padding: 8px;
    background: #ffffff;
    border: 1px solid #c9c9c9;    
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.8), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 12px;
    border-radius: 3px;
}

/* FILE SELECTION AND DRAG */
#view .profile .dnnFormItem input.custom-file-input-file-name {
    display: none;
}

.filedrag {
    border: 2px dashed #AAA;
    border-radius: 7px;
    cursor: default;
    padding: 15px;
    margin-bottom: 20px;
}

.filedrag .drag-label {
    font-weight: bold;
    text-align: center;
    display: block;
    color: #AAA;
    margin-top: 10px;
    margin-bottom: -10px;
}

.filedrag.hover {
    border-color: #F00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.filedrag.hover .drag-label {
    color: #F00;
}

.custom-file-input-wrapper {
    position: relative;
}

.custom-file-input-wrapper .custom-file-input-button {
    position: relative;
    overflow: hidden;
}

.custom-file-input-wrapper .custom-file-input-button * {
    cursor: pointer;
}

.custom-file-input-wrapper .custom-file-input-button input[type="file"] {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
}

.clearbutton{
    display:none;
}